############################
## IDE settings
############################
.settings/
.idea/
*.iml

############################
## Java settings
############################
target/
metas/
META-INF/
*.log
*.log.*
artifacts/scripts
artifacts/settings.json

############################
## log files
############################
*.tsv
*.log

############################
## tools and experiments
############################
logs/
venv/
.Rproj.user
results/

res/backup