############################
## IDE settings
############################
.settings/
.idea/
*.iml

############################
## Java settings
############################
target/
metas/
META-INF/
*.log
*.log.*

############################
## script settings
############################
.Rhistory
*.pyc
__pycache__
.DS_Store
.Rproj.user

############################
## log files
############################
*.tsv
*.log

############################
## tools and experiments
############################
logs/
venv/
results/
res/backup
artifacts/scripts